/******************************************************************

767px and bolow

******************************************************************/


/*********************
GENERAL STYLES
*********************/

.home-page {
  padding-top: 45px;
  .intro-banner {
    width: 520px;
    padding: 20px;
    .main-text {
      font-size: 2em;
    }
  }
  .courses {
    .course {}
  }
  .course-details {
    .course-swiper-container {
      width: 600px;
      padding: 20px 12px;

      .swiper-pagination {
        display: none;
      }
      .swiper-button-prev,
      .swiper-button-next {
        display: block;
      }
    }
  }
}
