/******************************************************************

Mobile

******************************************************************/

/*********************
GENERAL STYLES
*********************/

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  body,
  [data-ng-view] {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: $font;
    font-size: 100%;
    line-height: 1.5;
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

button.primary {
  background-color: $primary-color;
  color: #ffffffc7;
  text-transform: uppercase;
  border: 0;
  font-size: 13px;
  padding: 5px 15px;
  display: inline-block;
}

/*********************
LAYOUT & GRID STYLES
*********************/

/*********************
LINK STYLES
*********************/

a,
a:visited {
  color: $link-color;
  text-decoration: none;
  /* on hover */
  &:hover,
  &:focus {
    color: $link-hover;
    text-decoration: underline;
  }
  /* on click */
  &:active {}
  /* mobile tap color */
  &:link {
    /*
    this highlights links on iPhones/iPads.
    so it basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba( 0, 0, 0, 0.3);
  }
}

/******************************************************************
H1, H2, H3, H4, H5 STYLES
******************************************************************/

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5 {
  text-rendering: optimizelegibility;
  font-weight: 500;
  a {
    text-decoration: none;
  }
}

h1,
.h1 {
  font-size: 2.5em;
  line-height: 1.333em;
}

h2,
.h2 {
  font-size: 1.75em;
  line-height: 1.4em;
  margin-bottom: 0.375em;
}

h3,
.h3 {
  font-size: 1.75rem;
}

h4,
.h4 {
  font-size: 0.875rem;
  font-weight: 700;
}

/*********************
MAIN PAGE
*********************/

.home-page {
  width: 100%;
  position: relative;
  .top-bg {
    width: 100%;
    background-image: url(/images/bg.jpg);
    height: 100vh;
    background-position: 0px -75px;
    background-size: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-repeat: no-repeat;
  }
  .intro-banner {
    width: 100%;
    background-color: #303030;
    padding: 20px 10px;
    margin: auto;
    text-align: center;
    .logo {
      width: 50px;
    }
    .main-text {
      color: #7da947;
      text-transform: uppercase;
      margin-top: 10px;
      line-height: 30px;
      letter-spacing: 6px;
      font-size: 1.1em;
      margin-bottom: 10px;
      span {
        color: $sub-text-color;
        font-size: 14px;
        line-height: 38px;
        display: inline-block;
        letter-spacing: 1px;
      }
    }
    .sub-info {
      margin-top: 0;
      font-size: 13px;
      color: $sub-text-color;
    }
    .enroll-btn {
      margin-top: 7px;
    }
  }
  .courses {
    @extend %flexbox;
    @include justify-content(space-around);
    @include flex-wrap(wrap);
    margin-top: 50px;
    .course {
      // width: 300px;
      // padding: 20px;
      margin-bottom: 25px;
      text-align: center;
      img {
        max-width: 100%;
      }
      span {
        color: #616161;
        text-transform: uppercase;
        font-size: 14px;
      }
    }
  }
  hr.section-breaker {
    max-width: 100%;
    width: 825px;
    margin: 50px auto;
    border-top: 0;
    border-width: 0 0 1px 0px;
  }
  .course-details {
    text-align: center;
    position: relative;
    .main-text {
      text-transform: uppercase;
      color: #626365;
      font-size: 27px;
      letter-spacing: 2px;
      word-spacing: 10px;
    }
    .course-swiper-container {
      width: 600px;
      max-width: 100%;
      margin: auto;
      background-color: #383838;
      padding: 40px 12px 20px;
      position: relative;
      .swiper-container {
        width: 100%;
        .swiper-slide {
          &.course {
            .chapter {
              text-transform: uppercase;
              color: $sub-text-color;
              font-family: sans-serif;
              letter-spacing: 1px;
              font-size: 15px;
              margin: 0;
            }
            .title {
              text-transform: uppercase;
              color: #ded27c;
              font-size: 21px;
              margin: 0;
              padding: 5px 0 15px;
              word-spacing: 7px;
            }
            .section {
              .section-title {
                color: #d2d2d2;
                letter-spacing: 1px;
                margin: 0;
                font-size: 15px;
                padding-bottom: 7px;
                label {
                  color: #fff;
                }
              }
              .desc {
                margin-top: 0;
                font-size: 13px;
                color: $sub-text-color;
                font-weight: 100;
                font-family: 'Roboto', sans-serif;
                letter-spacing: 0.5px;
                span {
                  @extend %inline-flex;
                  padding-right: 8px;
                  &:after {
                    content: ",";
                  }
                  &:last-child {
                    &:after {
                      content: "";
                    }
                  }
                }
              }
              hr {
                width: calc(100% - 70px);
                border-top: 0;
                border-bottom-color: #ffffff26;
                border-width: 0 0 1px 0px;
              }
            }
          }
        }
      }
    }
    .swiper-pagination {
      top: 8px;
      left: 50%;
      -webkit-transform: translate3d(-50%, 0, 0);
      transform: translate3d(-50%, 0, 0);
      .swiper-pagination-bullet {
        margin-right: 5px;
        &.swiper-pagination-bullet-active {
          background: #fff;
        }
      }
    }
    .swiper-button-prev,
    .swiper-button-next {
      background-size: 26px 28px;
      display: none;
    }
    .swiper-button-prev {
      background-image: url(/images/arrow-left.png);
      left: -45px;
    }
    .swiper-button-next {
      background-image: url(/images/arrow-right.png);
      right: -45px;
    }
  }
  .course-features {
    margin-top: 50px;
    width: 100%;
    padding: 30px 0 50px;
    /* background-image: url(/images/bg.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #E0E0E0;
    .title {
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 2px;
      word-spacing: 10px;
      color: #636466;
    }
    .feature-container {
      text-align: center;
      .feature {
        // width: 250px;
        // margin: 30px 15px 0;
        margin-bottom: 30px;
        @extend %inline-flex;
        @include flex-dir(column);
        @include align-items(center);
        .thumb {
          padding: 25px;
          border-radius: 50%;
          border: 2px solid #a1a1a1;
          background-color: #f8f8f8;
          width: 125px;
          height: 125px;
          img {
            max-width: 100%;
          }
        }
        .label {
          width: 100%;
          background-color: #000;
          color: #ffffffb5;
          padding: 8px;
          text-transform: uppercase;
          letter-spacing: 1px;
          text-align: center;
          font-size: 15px;
          margin-top: 10px;
          height: 60px;
          @extend %inline-flex;
          @include align-items(center);
          @include justify-content(space-around);
        }
      }
    }
  }
}
